body {
  margin: 0;
  background: #222;
  color: white;
  text-align: center;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 10px;
  width: 100%;
  text-shadow: 0 0 10px #ff0;
}

canvas {
  display: block;
  margin: 60px auto 0;
  background: #333;
  border: 3px solid #ff0;
  border-radius: 10px;
}
